

body{
    margin: 0;
    padding: 0;
    height: 100%
    background: #F1F1F1 ;
}

   canvas{
   	border:  2px solid black;
   	position: relative;
   	left: 220px;
   	top:55px;
   	box-shadow: 5px 5px gray;
   }

#Simple-Paint{

	color: white;
	text-shadow: 2px 2px 4px black;
	font-size:300%;
	font-family: Comic Sans MS;
	position: relative;
	top: 20px;
	left: 500px;
}

#controls{
	height: 20px;
    font-family: Comic Sans MS;
    font-size: 14px;
    border: 1px solid black;
    background-color: white;
    padding: 1.5px 1.5px 1.5px 1.5px;
    width: 900px;
    box-shadow: 5px 5px gray;
    float: left;
	position : relative;
    top:50px;
    left : 220px;	
    margin-right: 45px;
    margin-top: 45
	
	
}
#tools{
        position: relative;
		float: left;
	}

	#clear{
    height: 23px;
    font-family: Comic Sans MS;
	font-size: 15.5px;
	text-align: center;
    border: 1px solid black;
    background-color: white;
    width: 50px;
    float: right;
	position:relative;
	top : -3px;
	right: -673px
}

   #clear:hover{
    cursor: pointer;
    background-color: rgba(0,0,2,.01);
}

